// Amount form
.amount-form {
    position: relative;

    @include rem((
        width: 194px,
        height: 65px,
        padding-left: 65px,
        padding-right: 65px,
        padding-top: 12px
    ));

    &__control {
        position: absolute;
        top: 0;

        transition: all 0.15s ease-out;
        text-indent: -999em;

        border: 1px solid rgba(49,49,49,0.13);
        outline: 0;
        background: none;
        cursor:pointer;

        @include rounded;
        @include rem((
            width: 65px,
            height: 65px
        ));
        @include hover-focus-active {
            border-color: rgba(49,49,49,0.53);
            outline: 0;
            &:before,
            &:after {
                background-color: rgba(49,49,49,0.64);
            }
        }

        &:before,
        &:after {
            position: absolute;
            top: 50%;
            left: 50%;

            content: "";
            transition: all 0.15s ease-out;
            transform: translate(-50%,-50%);

            background-color: rgba(49,49,49,0.44);
        }

        &_dec {
            left: 0;
            &:after {
                @include rem((
                    width: 31px,
                    height: 2px
                ));
            }
        }

        &_inc {
            right: 0;
            &:before {
                @include rem((
                    width: 2px,
                    height: 31px
                ));
            }
            &:after {
                @include rem((
                    width: 31px,
                    height: 2px
                ));
            }
        }
    }

    &__input {
        display: block;

        padding: 0;

        text-align: center;

        border: 0;
        background: none;

        @include rem((
            width: 64px,
            height: 40px
        ));
        @include font-variant(30px, 40px);
    }

    @media(min-width:768px) {
        @include rem((
            width: 102px,
            height: 35px,
            padding-left: 35px,
            padding-right: 35px,
            padding-top: 1px
        ));

        &__control {
            @include rem((
                width: 35px,
                height: 35px
            ));

            &_dec {
                &:after {
                    @include rem((
                        width: 17px
                    ));
                    height: 1px;
                }
            }

            &_inc {
                &:before {
                    @include rem((
                        height: 17px
                    ));
                    width: 1px;
                }
                &:after {
                    @include rem((
                        width: 17px
                    ));
                    height: 1px;
                }
            }
        }

        &__input {
            @include rem((
                width: 32px,
                height: 32px
            ));
            @include font-variant(15px, 32px);
        }
    }
}
