// Article
.article {
    
    &__breadcrumbs {
        opacity:1;
        @include rem((
            margin-bottom: 54px
        ));
    }
    
    &__section {
        @include rem((
            margin-bottom: 49px
        ));
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__slider {
        @include rem((
            margin-top: 22px,
            margin-bottom: 22px
        ));
        
        .article__section + & {
            @include rem((
                margin-top: -19px
            ));
        }
    }
    
    @media(min-width:768px) {
        @include rem((
            margin-bottom: 41px
        ));

        &__slider {
            @include rem((
                margin-top: 27px,
                margin-bottom: 49px
            ));
        
            .article__section + & {
                @include rem((
                    margin-top: 27px
                ));
            }
        }
    }

    @media(min-width:1200px) {
        @include rem((
            margin-bottom: 78px
        ));
        
        &__section {
            &_right {
                .img-right {
                    @include rem((
                        margin-right: -50px
                    ));
                }
            }
        }

        &__slider {
            @include rem((
                margin-top: 69px,
                margin-bottom: 55px
            ));
        
            .article__section + & {
                @include rem((
                    margin-top: 69px
                ));
            }
        }
    }
}