// Article
.article {
    
    &__section {
        @include rem((
            margin-bottom: 49px
        ));
        
        &:last-child {
            margin-bottom: 0;
        }
        
        &_right {
            .img-right {
                @include rem((
                    margin-right: -15px
                ));
            }
        }
    }
    
    &__slider {
        @include rem((
            margin-top: 22px,
            margin-bottom: 22px
        ));
        
        .article__section + & {
            @include rem((
                margin-top: -19px
            ));
        }
    }
}