// Article
.article {
    &__breadcrumbs {
        opacity: 1;

        @include rem((
            margin-bottom: 54px
        ));
    }
    
    &__source {
        font-family:$font-family-sans-serif-italic;
        @include rem((
            margin-bottom: 29px
        ));
    }

    &__section {
        @include rem((
            margin-bottom: 49px
        ));

        &:last-child {
            margin-bottom: 0;
        }

        &_right {
            .container {
                padding-right: 0;
            }
        }
    }

    &__slider {
        @include rem((
            margin-top: 22px,
            margin-bottom: 22px
        ));

        .article__section + & {
            @include rem((
                margin-top: -19px
            ));
        }
    }

    &__card {
        @include rem((
            margin-top: 37px,
            margin-bottom: 37px
        ));

        .container {
            padding-right: 0;
            padding-left: 0;
        }

        .article__section + & {
            @include rem((
                margin-top: -16px
            ));
        }
    }

    @media(min-width:768px) {
        @include rem((
            margin-bottom: 41px
        ));

        &__source {
            @include rem((
                margin-bottom: 42px
            ));
        }
  
        &__section {
            &_right {
                .container {
                    padding-right: 0;
                }
            }
        }

        &__slider {
            @include rem((
                margin-top: 27px,
                margin-bottom: 49px
            ));

            .article__section + & {
                @include rem((
                    margin-top: 27px
                ));
            }
        }
        &__card {
            @include rem((
                margin-top: 30px,
                margin-bottom: 54px
            ));

            .article__section + & {
                @include rem((
                    margin-top: -23px
                ));
            }
        }
    }

    @media(min-width:1200px) {
        @include rem((
            margin-bottom: 78px
        ));

        &__section {
            &_right {
                .container {
                    max-width: none;
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }

        &__slider {
            @include rem((
                margin-top: 69px,
                margin-bottom: 55px
            ));

            .article__section + & {
                @include rem((
                    margin-top: 69px
                ));
            }
        }
        &__card {
            @include rem((
                margin-top: 66px,
                margin-bottom: 54px
            ));

            .container {
                @include rem((
                    padding-left: 20px,
                    padding-right: 20px
                ));
            }

            .article__section + & {
                @include rem((
                    margin-top: 66px
                ));
            }
        }
    }
}
