.button {
    display: inline-block;

    cursor: pointer;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;

    border: 1px solid transparent;
    background: none;

    @include font-variant(14px, 38px);
    @include transition(all 0.2s ease-in-out);
    border-radius: 50px;
    @include hover-focus {
        text-decoration: none;
    }

    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            @include tab-focus();
        }
    }
    &.focus {
        text-decoration: none;
    }

    &:active,
    &.active {
        outline: 0;
        background-image: none;
    }

    &.disabled,
    &:disabled {
        cursor: $cursor-disabled;
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.button.disabled,
fieldset[disabled] a.button {
    pointer-events: none;
}


//
// Alternate buttons
//

.button_primary {
    text-transform:uppercase;
    background-image: linear-gradient(to top, rgba(0,0,0,0.07), rgba(255,255,255,0.07));
    @include font-variant(22px, 58px);
    @include rem((
        padding-left: 28px,
        padding-right: 28px,
        box-shadow: 0 2px 7px rgba(0,0,0,0.15)
    ));

    @include button-variant($button-primary-color, $button-primary-bg, $button-primary-border, $button-primary-hover-color, $button-primary-hover-bg, $button-primary-hover-border);
}

.button_outline {
    color: #000000;

    @include rem((
        border-radius: 30px,
        border-width: 1px,
        padding-left: 22px,
        padding-right: 22px
    ));
    @include font-variant(24px, 60px);
    @include button-outline-variant($button-default-border);
}

@media (min-width:768px) {
    .button_primary {
        @include font-variant(14px, 38px);
    }
 
    .button_outline {
        border-color: rgba(0,0,0,0.44);

        @include font-variant(16px, 36px);
    }
}

@media (min-width:1200px) {
    .button_outline {
        @include em-line-height(16px, 32px);
    }
}
//
// Block button
//

.button_block {
    display: block;

    width: auto;
}

// Vertically space out multiple block buttons
.button_block + .button_block {
    margin-top: $button-block-spacing-y;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    &.button_block {
        width: 100%;
    }
}
