.card {
    position: relative;

    display: flex;
    flex-direction: column;

    text-decoration: none;

    color: #ffffff;
    background-color: $brand-lightgray;
    background-repeat: no-repeat;
    background-position: 0 80%;
    background-size: cover;

    @include size(100%);
    @include rem(padding-left, 13px);
    @include rem(padding-right, 13px);

    &__img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        content: "";
        transition: all 0.25s;

        background-image: linear-gradient(to top, rgba(0,0,0,0.45), rgba(0,0,0,0));
    }

    &__tags,
    &__labels {
        position: relative;
    }

    &__labels {
        @include rem(margin-left, -13px);
        @include rem(margin-right, -13px);
    }

    &__tag,
    &__label {
        text-transform: uppercase;
    }

    &__label {
        width: 100%;
        max-width: 242px;

        text-align: center;

        color: #000000;
        background-color: #ddd058;

        @include rem(padding-left, 20px);
        @include rem(padding-right, 20px);
        @include font-variant(20px, 61px, $font-family: $font-family-sans-serif-extrabold);
    }

    &__body {
        position: relative;

        display: flex;
        flex-direction: column;

        flex-grow: 1;
        justify-content: center;
    }

    &__action {
        position: relative;
        z-index: 20;
    }

    &__button {
        color: inherit;
        border-color: #ffffff;

        @include rem(width, 148px);

        .card:hover & {
            color: #1c1814;
            border-color: #ffffff;
            background-color: #ffffff;
            box-shadow: 0 3px 5px rgba(0,0,0,0.14);

            &:hover {
                border-color: $brand-primary;
                background-color: $brand-primary;
                box-shadow: 0 3px 13px rgba(0,0,0,0.14);
            }
        }
    }

    &__overlay {
        display: none;
    }

    &_product {
        cursor: pointer;

        &:not(.card_with-overlay):hover {
            .card__img-overlay {
                background-color: rgba(28,13,13,0.68);
                background-image: none;
            }
        }

        .card__title {
            margin-top: 0;

            @include font-variant(21px, 21px, $font-family: $font-family-sans-serif-extrabold);
            @include rem(margin-bottom, 7px);
        }

        .card__subtitle {
            @include font-variant(14px, 18px);
            @include rem(margin-bottom, 14px);
        }

        .card__price {
            @include font-variant(24px, 24px);
            @include rem(margin-bottom, 33px);
        }

        &_catalog {
            .card__body {
                justify-content: flex-end;
            }

            .card__title {
                @include font-variant(28px, 28px);
                @include rem(margin-bottom, 4px);
            }

            .card__subtitle {
                @include font-variant(18px, 28px);
                @include rem(margin-bottom, 11px);
            }

            .card__action {
                text-align: center;

                @include rem(padding-bottom, 30px);
            }

            .card__price {
                position: absolute;
                left: 0;

                margin-bottom: 0;

                @include rem(top, 12px);
                @include font-variant(28px, 28px);
            }
        }

        &_single {
            align-items:flex-end;

            background-position: -100px 80%;
            background-size: auto 150%;

            @include rem(height, 288px);

            .card__labels {
                position:absolute;
                left:0;
                top:0;
                margin-left: 0;
                margin-right: 0;
            }
            .card__body {
                width: 50%;

                @include rem(padding-left, 20px);
            }
            .card__title {
                @include em-line-height(21px, 24px);
                @include rem(margin-bottom, 27px);
            }
            .card__subtitle {
                @include font-variant(18px, 18px);
                @include rem(margin-bottom, 20px);
            }
            .card__price {
                @include rem(margin-bottom, 28px);
            }
            
            &.products__card {
                .card__body {
                    width: 64%;
                    @include rem(padding-right, 44px);
                    padding-left:0;
                }
                .card__action {
                    display: flex;

                    text-align: left;

                    justify-content: space-between;
                    align-items: center;
                }
                .card__price {
                    margin-bottom:0;
                }
                .card__button {
                    @include font-variant(16px, 33px);
                    @include rem(width, 126px);
                }
            } 
        }
    }

    &_pub {
        cursor: pointer;
        text-align: center;

        align-items: center;
        justify-content: space-between;

        .card__tags {
            @include rem(padding-top, 41px);
        }

        .card__tag {
            @include font-variant(20px, 24px, $font-family: $font-family-sans-serif-semibold);
        }

        .card__content {
            display: flex;
            flex-direction: column;

            justify-content: center;
            flex-grow: 1;
        }

        .card__body {
            max-width:100%;
        }
 
        .card__title {
            @include font-variant(30px, 24px, $font-family: $font-family-serif);
            @include rem(margin-top, 8px);
            @include rem(margin-bottom, 8px);
        }

        .card__action {
            @include rem(margin-bottom, 31px);
        }

        &_double {
            padding-right: 0;
            padding-left: 0;

            .card__img-block {
                overflow: hidden;

                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: cover;

                flex-grow: 1;
            }

            .card__body {
                width: 50%;
                max-width: 100%;

                flex-grow: 1;
                @include rem(padding-left, 15px);
                @include rem(padding-right, 15px);

                &:before,
                &:after {
                    margin: 0;
                }
            }

            .card__content {
                flex-grow: 0;
                display:block;
            }

            .card__title {
                position: relative;

                margin-top: 0;

                @include font-variant(24px, 24px);
                @include rem(margin-bottom, 29px);
            }

            .card__text {
                position: absolute;
                top: 0;

                display: flex;

                width: 100%;
                height: 100%;

                @include font-variant(18px, 22px);
                @include rem(padding-left, 15px);
                @include rem(padding-right, 15px);
                align-items: center;
            }

            .card__action {
                margin-bottom: 0;
            }

            &_right {
                align-items: flex-end;
                .card__body {
                    @include triangle(14px, 0, transparent, left);
                }
                .card__text {
                    right: 100%;
                }
            }

            &_left {
                align-items: flex-start;

                .card__img-block {
                    order: 2;
                }

                .card__body {
                    order: 1;
                    @include triangle(14px, 0, transparent, right);
                }
                .card__text {
                    left: 100%;
                }
            }

            &_right,
            &_left {
                flex-direction: row;

                align-items: initial;

                .card__img-block {
                    width: 50%;
                    height:100%;
                }
                .card__body {
                    height:100%;

                    &:before,
                    &:after {
                        @include rem(top, 38px);
                    }
                }
                
                .tales-sm & {
                    @include rem(height, 279px);
                }
            }

            &_bottom {
                justify-content: flex-end;

                .card__body {
                    @include triangle(14px, 0, transparent, top);

                    &:before,
                    &:after {
                        left: auto;

                        @include rem(right, 38px);
                    }
                }
                .card__text {
                    top: -100%;
                    left: 0;
                }
            }

            &_top {
                justify-content: flex-start;

                .card__img-block {
                    order: 2;
                }

                .card__body {
                    order: 1;
                    @include triangle(14px, 0, transparent, bottom);

                    &:before,
                    &:after {
                        @include rem(left, 38px);
                    }
                }
                .card__text {
                    top: 100%;
                    left: 0;
                }
            }

            &_bottom,
            &_top {
                float: left;


                .card__img-block {
                    width: 100%;
                    height: 50%;
                }
                .card__body {
                    width: 100%;
                    height: 50%;
                }
                
                .tales-sm & {
                    width: 50%;
                    @include rem(height, 558px);
                }
            }
        }

        .grid_tales & {
            justify-content: center;

            .card__content {
                flex-grow: 0;
            }
            .card__title {
                margin-top: 0;

                @include font-variant(24px, 21px);
                @include rem(margin-bottom, 27px);
            }
            .card__action {
                margin-bottom: 0;
            }
        }
            
        &_single {
            @include rem(height, 287px);
 
            .card__labels {
                z-index:10;
                align-self:flex-start;
            }
        }
    }
    
    &_blog {
        color:#181818;
        .card__button {
            border-color: #181818;
   
            .card:hover & {
                border-color: #ffffff;
                background-color: #ffffff;

                &:hover {
                    border-color: $brand-primary;
                    background-color: $brand-primary;
                }
            }
        }
        .card__content {
            display:block;
        }
        .card__body {
            justify-content: flex-start;
            @include rem(padding-top, 32px);
        }
        .card__title {
            margin-top:0;
            @include font-variant(23px, 24px, $font-family: $font-family-sans-serif-extrabold);
            @include rem(margin-bottom, 53px);
            text-align:left;
        }
        .card__text {
            display:none;
        }
    }

    &_slogan {
        text-align: center;

        justify-content: center;

        .card__text {
            opacity: 0.84;

            @include font-variant(30px, 30px, $font-family: $font-family-serif);
            @include rem(padding-left, 62px);
            @include rem(padding-right, 60px);

            b,
            strong {
                font-family: $font-family-serif-bold;
            }
        }

        &_catalog {
            .card__text {
                opacity: 1;

                @include font-variant(16px, 16px);
                @include rem(padding-left, 44px);
                @include rem(padding-right, 42px);
            }
        }
    }

    @media (min-width:768px) {
        .card__label {
            display: inline-block;

            width: auto;
            max-width: 100%;

            @include font-variant(14px, 45px);
        }

        &__button {
            border-color: rgba(255,255,255,0.44);

            @include rem(width, 134px);
        }

        &_product {
            justify-content: center;

            .card__body {
                max-width: 244px;
            }

            .card__title {
                @include font-variant(18px, 18px);
                @include rem(margin-bottom, 3px);
            }

            .card__subtitle {
                @include font-variant(12px, 18px);
                @include rem(margin-bottom, 14px);
            }

            .card__price {
                @include font-variant(18px, 24px);
                @include rem(margin-bottom, 30px);
            }

            &_catalog {
                .card__action {
                    display: flex;

                    text-align: left;

                    justify-content: space-between;
                    align-items: center;
                    @include rem(padding-bottom, 21px);
                }

                .card__subtitle {
                    @include rem(margin-bottom, 7px);
                }

                .card__price {
                    position: static;

                    margin-bottom: 0;
                }
            }

            &_single {
                background-position: 0 80%;
                background-size: auto 180%;

                @include rem(height, 206px);

                .card__labels {
                    margin-left: 0;
                    margin-right: 0;
                }
                .card__body {
                    max-width: 100%;
                    @include rem(padding-left, 62px);
                    @include rem(padding-right, 63px);
                }
                .card__title {
                    @include font-variant(24px, 24px);
                    @include rem(margin-bottom, 5px);
                }
                .card__subtitle {
                    @include font-variant(12px, 18px);
                    @include rem(margin-bottom, 17px);
                }
                .card__action {
                    display: flex;

                    align-items: center;
                    justify-content: space-between;
                }
                .card__price {
                    margin-bottom: 0;

                    @include font-variant(24px, 24px);
                }

                &.products__card {
                    .card__body {
                        width: 81%;
                        @include rem(padding-right, 35px);
                    }
                } 
            }
        }

        &_pub {
            justify-content: center;

            .card__tags {
                padding-top: 0;
            }

            .card__tag {
                @include font-variant(14px, 24px);
            }

            .card__body {
                flex-grow: 0;
            }

            .card__content {
                flex-grow: 0;
            }

            .card__title {
                @include font-variant(26px, 24px);
                @include rem(margin-bottom, 36px);
            }

            .card__action {
                margin-bottom: 0;
            }

            &_double {
                .card__body {
                    flex-grow: 1;
                }

                .card__content {
                    flex-grow: 0;
                }

                .card__title {
                    @include font-variant(36px, 33px);
                    @include rem(margin-bottom, 30px);
                }

                .card__text {
                    position: static;

                    display: block;

                    padding-right: 0;
                    padding-left: 0;

                    @include font-variant(16px, 20px);
                    @include rem(margin-bottom, 29px);
                }

                &_right,
                &_left {
                    .tales-sm & {
                        @include rem(height, 286px);
                    }
                }

                &_bottom,
                &_top {
                    .card__body {
                        flex-grow: 0;
                    }
                    .tales-sm & {
                        @include rem(height, 572px);
                    }
                }

                &_bottom {
                    justify-content: flex-end;
                }

                &_top {
                    justify-content: flex-start;
                }
            }

            .grid_tales & {
                .card__title {
                    @include font-variant(36px, 33px);
                    @include rem(margin-bottom, 46px);
                }
            }
 
            &_single {
                @include rem(height, 206px);
 
                .card__labels {
                    position:absolute;
                    top:0;
                    left:0;
                    margin-left:0;
                }
            }
        }

        &_blog {
            .card__button {
                @include em-line-height(16px, 33px);
                color: rgba(28,13,13,.68);
                border-color: rgba(24,24,24,.44);
            }
            .card__body {
                @include rem(padding-top, 31px);
                text-align:left;
            }
            .card__content {
                overflow:hidden;
                @include rem((
                    margin-bottom: 30px,
                    max-height: 161px
                ));
            }
            .card__title {
                @include font-variant(18px, 18px);
                @include rem(margin-bottom, 22px);
            }
            .card__text {
                display:block;
                @include font-variant(16px, 21px);
                margin-bottom:0;
            }
            
            .grid__w-m-3 & {
                .card__body {
                    width:16.6666667%;
                }
            }
            
            &.card_pub_double {
                &_right,
                &_left {
                    .card__body {
                        &:before,
                        &:after {
                            top:auto;
                            @include rem(bottom, 33px);
                        }
                    }
                }

                &_bottom {
                   .card__body {
                        &:before,
                        &:after {
                            right: auto;
                            @include rem(left, 33px);
                        }
                    }
                }

                &_top {
                    .card__body {
                        &:before,
                        &:after {
                            left:auto;
                            @include rem(right, 33px);
                        }
                    }
                }
            }
        }

        &_slogan {
            .card__text {
                padding-right: 0;
                padding-left: 0;

                @include font-variant(21px, 21px);
            }

            &_catalog {
                .card__text {
                    @include font-variant(26px, 26px);
                }
            }
        }

        &_right {
            .card__tags {
                align-self: flex-end;
            }
        }
    }

    @media (min-width:1200px) {
        @include rem(padding-left, 30px);
        @include rem(padding-right, 30px);

        &__button {
            @include rem(width, 125px);
        }

        &_with-overlay:hover {
            .card__labels,
            .card__content {
                opacity: 0;
            }

            &.card_pub {
                .card__body {
                    opacity: 0;
                }
            }
        }

        &__overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            display: flex;
            flex-direction: column;

            transition: all 0.35s;
            text-align: center;

            opacity: 0;

            @include font-variant(16px, 19px);
            justify-content: center;
            @include rem(padding-left, 47px);
            @include rem(padding-right, 47px);

            .card:hover & {
                transition: none;

                opacity: 1;
            }

            .tiles__w-lg-2 & {
                @include rem(padding-left, 90px);
                @include rem(padding-right, 90px);
            }

            .card__button {
                @include rem(margin-top, 22px);
            }
        }

        &_product {
            justify-content: center;

            .card__labels {
                @include rem(margin-left, -30px);
                @include rem(margin-right, -30px);
            }

            .card__body {
                @include rem(padding-bottom, 27px);
                justify-content: flex-end;
                flex-grow: 1;
            }

            .card__title {
                @include font-variant(24px, 24px);
                @include rem(margin-bottom, 5px);
            }

            .card__subtitle {
                @include font-variant(12px, 18px);
                @include rem(margin-bottom, 19px);
            }

            .card__action {
                display: flex;

                justify-content: space-between;
                align-items: center;
            }

            .card__price {
                margin-bottom: 0;

                @include font-variant(24px, 24px);
            }

            .card__overlay-text {
                position: relative;

                &:before {
                    position: absolute;
                    left: 50%;

                    margin-right: auto;
                    margin-left: auto;

                    content: "";

                    opacity: 0.45;
                    background: url(../i/logo.png) 50% 0 no-repeat;
                    background-size: contain;

                    @include size(44px,26px);
                    @include rem(top, -64px);
                    @include rem(margin-left, -22px);
                }
            }

            &_catalog {
                .card__body {
                    max-width: 100%;

                    @include rem(padding-bottom, 36px);
                }

                .card__title {
                    @include font-variant(22px, 22px);
                    @include rem(margin-bottom, 1px);
                }

                .card__subtitle {
                    @include font-variant(11px, 22px);
                    @include rem(margin-bottom, 15px);
                }

                .card__action {
                    padding-bottom: 0;

                    @include rem(max-width, 226px);
                }

                .card__price {
                    @include font-variant(22px, 22px);
                }
            }

            &_single {
                background-position: -20% 70%;
                background-size: auto 270%;

                .card__labels {
                    margin-left: 0;
                    margin-right: 0;
                }
                .card__body {
                    width: 45%;
                    padding-bottom: 0;

                    @include rem(padding-left, 62px);
                    @include rem(padding-right, 63px);
                    justify-content: center;
                }
                &.products__card {
                    .card__body {
                        width: 45%;
                        @include rem(padding-right, 20px);
                    }
                } 
            }
        }

        &_pub {
            .card__tag {
                @include font-variant(13px, 18px);
            }

            .card__title {
                margin-top: 0;

                @include font-variant(36px, 33px);
                @include rem(margin-bottom, 22px);
            }

            &_double {
                padding-right: 0;
                padding-left: 0;

                &_right,
                &_left {
                    .tales-sm & {
                        @include rem(height, 311px);
                    }
                }

                &_bottom,
                &_top {
                    .tales-sm & {
                        @include rem(height, 622px);
                    }
                }
            }
            .grid_tales & {
                .card__title {
                    @include font-variant(28px, 28px);
                    @include rem(margin-bottom, 37px);
                }
            }
        }

        &_blog {
            .card__body {
                @include rem(padding-top, 33px);
                @include rem(padding-left, 27px);
                @include rem(padding-right, 27px);
            }
            .card__content {
                @include rem((
                    margin-bottom: 26px,
                    max-height: 236px
                ));
            }
            .card__title {
                @include font-variant(24px, 24px);
                @include rem(margin-bottom, 23px);
            }
            .card__text {
                @include font-variant(18px, 24px);
            }
        }
        
        &_slogan {
            .card__text {
                @include font-variant(18px, 23px);
                @include rem(padding-left, 10px);
                @include rem(padding-right, 10px);
            }

            &_catalog {
                .card__text {
                    @include font-variant(26px, 27px);
                }
            }
        }

        &_right {
            .card__body {
                text-align: right;

                align-self: flex-end;
            }
            .card__action {
                flex-direction: column;

                align-items: flex-end;
            }

            .card__price {
                @include rem(margin-bottom, 27px);
            }
        }
    }
}

[class*="theme"] {
    &.card {
        .card__img-overlay {
            background-image: none;
        }
    }
}
