// Catalog
.catalog-sm {
    .grid__col {  
        @include rem((
            height: 255px
        ));
        
        &:nth-child(n+4) {
            display: none;
        }
    }
 
    @media(min-width:768px) {
        .grid__col {  
            @include rem((
                height: 290px
            ));
        }
    }

    @media(min-width:1200px) {
        .grid__col {
            @include rem((
                height: 389px
            ));
  
            &:nth-child(n+4) {
                display: block;
            }
        }
    }
} 