.footer {
    background-color: #211a14;

    @include rem((
        padding-top: 20px,
        padding-bottom: 21px
    ));

    .container {
        display: flex;

        align-items: center;
        justify-content: space-between;
    }

    &__brand {
        display: block;

        @include rem((
            width: 62px,
            margin-right: 38px
        ));

        &-img,
        &-img2 {
            display: block;

            margin-right: auto;
            margin-left: auto;
        }

        &-img {
            @include rem((
                width: 27px,
                margin-bottom: 8px
            ));
        }

        &-img2 {
            width: 100%;
        }
    }

    &__contacts {
        display: none;
    }

    &__copyright {
        flex-grow: 1;
        flex-basis: 1;
        @include font-variant(12px, 14px, $font-family: $font-family-sans-serif-light);
        @include rem((
            margin-top: 6px
        ));
    }

    @media(min-width:768px) {
        @include rem((
            padding-top: 28px
        ));

        .container {
            flex-wrap: wrap;
        }

        &__brand {
            @include rem((
                width: 92px
            ));

            &-img {
                @include rem((
                    width: 41px,
                    margin-bottom: 12px
                ));
            }
        }

        &__contacts {
            display: block;

            flex: 1 0 60%;
            @include rem((
                margin-top: 13px
            ));
        }

        &__copyright {
            color: rgba(255,255,255,0.28);

            @include rem((
                margin-top: 36px
            ));
        }
    }

    @media(min-width:1200px) {
        text-align: center;

        @include rem((
            padding-top: 38px
        ));

        .container {
            display: block;
        }

        &__brand {
            margin-right: auto;
            margin-left: auto;

            @include rem((
                width: 133px
            ));

            &-img {
                width: auto;

                @include rem((
                    margin-bottom: 17px
                ));
            }
        }

        &__contacts {
            margin-right: auto;
            margin-left: auto;

            @include rem((
                max-width: 526px,
                margin-top: 42px
            ));
        }

        &__copyright {
            @include rem((
                margin-top: 26px
            ));
        }
    }
}
