// Index slider
.index-slider {
    &__item {
        position: relative;

        text-align: center;

        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;

        @include rem(height, 474px);

        &:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            content: "";

            background-image: linear-gradient(63deg, rgba(33,33,33,0.56), rgba(90,74,50,0));
        }
    }

    &__content {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;

        width: 100%;

        align-items: center;
        justify-content: center;
        @include rem(padding-top, 63px);
        @include rem(padding-bottom, 135px);
    }

    &__container {
        margin-left:0;
        margin-right:0;
    }
  
    &__title {
        width: 80%;
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;

        @include font-variant(32px,30px, $font-family: $font-family-serif);
        @include rem(margin-bottom, 27px);
    }

    &__text {
        @include em-line-height(18px,22px);
    }


    @media(min-width:768px) {
        &__item {
            @include rem(height, 477px);
        }

        &__content {
            @include rem(padding-top, 53px);
            @include rem(padding-bottom, 98px);
            @include rem(padding-left, 50px);
            @include rem(padding-right, 50px);
        }

        &__title {
            width: auto;

            @include font-variant(36px,30px);
            @include rem(margin-bottom, 29px);
        }

        &__text {
            @include font-variant(16px,20px);
        }
    }

    @media(min-width:1200px) {
        &__item {
            @include rem(height, 652px);
        }

        &__container {
            max-width: 560px;
            padding: 0;
        }

        &__content {
            @include rem(padding-top, 64px);
            @include rem(padding-bottom, 129px);
        }

        &__title {
            @include font-variant(50px,55px);
            @include rem(margin-bottom, 41px);
        }

        &__text {
            opacity: 0.76;
        }

        .slick-arrow {
            background-color: rgba(0,0,0,0.45);
        }
    }
}
