// Page header
.page-header {
    position: relative;
    color: #575c63;
    
    &__img-bg {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }    

    &__container {
        position:relative;
        @include rem((
            padding-top: 8px,
            padding-bottom: 40px
        ));
    }

    &__breadcrumbs {
        display: none;
    }

    &__subtitle {
        margin-top: 0;
        margin-bottom: 0;

        text-align: center;
        letter-spacing: 0.3em;

        @include font-variant(14px, 40px, $font-family: $font-family-sans-serif-bold);
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;

        text-align: center;
        letter-spacing: 0.22em;
        text-transform: uppercase;

        opacity:.3;

        @include font-variant(36px, 22px, $font-family: $font-family-serif);
    }

    &__img,
    &__nav {
        display: none;
    }

    @media(min-width:768px) {
        &__container {
            @include rem((
                padding-top: 24px,
                padding-bottom: 55px
            ));
        }

        &__subtitle {
            @include rem((
                font-size: 20px
            ));
        }

        &__title {
            @include font-variant(76px, 45px);
            letter-spacing: 0.16em;
        }

        &__img {
            position:relative;
            display: block;

            margin-right: auto;
            margin-left: auto;

            &_catalog {
                @include rem((
                    height: 225px,
                    margin-top: -41px,
                    margin-bottom: -19px
                ));
            }
            &_tales {
                position: relative;

                @include rem((
                    height: 202px,
                    margin-top: -11px,
                    margin-bottom: -30px,
                    left: -31px
                ));
            }
            &_buyers {
                @include rem((
                    height: 220px,
                    margin-top: -13px,
                    margin-bottom: -28px
                ));
            }
        }
        
        &__nav {
            display:block;
            opacity:0;
            @include rem((
                margin-bottom: 38px
            ));
        }
    }

    @media(min-width:1200px) {
        &__container {
            position: relative;

            @include rem((
                padding-top: 34px,
                padding-bottom: 74px
            ));
        }

        &__breadcrumbs {
            position: absolute;

            display: block;

            @include rem((
                top: 32px,
                left: 20px
            ));
        }

        &__subtitle {
            letter-spacing: 0.4em;

            @include rem((
                font-size: 20px,
                margin-bottom: 16px
            ));
        }

        &__title {
            @include font-variant(102px, 54px);
            letter-spacing: 0.22em;
        }

        &__img {
            &_catalog {
                height: auto;

                @include rem((
                    margin-top: -47px,
                    margin-bottom: -95px
                ));
            }
            &_tales {
                height: auto;

                @include rem((
                    margin-top: -22px,
                    margin-bottom: -95px,
                    left: -75px
                ));
            }
            &_buyers {
                height: auto;
                @include rem((
                    margin-top: -30px,
                    margin-bottom: -71px
                ));
            }
        }
        
        &__nav {
            opacity:1;
            display:block;
            @include list-unstyled;
            @include rem((
                margin-top: 84px,
                margin-bottom: -20px
            ));
            
            &-item {
                display:block;
                text-align:center;
                text-transform:uppercase;
                @include font-variant(18px, 35px, $font-family: $font-family-sans-serif-light);
            }
            &-link {
                text-decoration:none;
                
                &.active {
                    color:$brand-primary;
                    font-family: $font-family-sans-serif-semibold;
                }
            }
        }
    }
}
