// Price
.price {
    font-family: $font-family-sans-serif-extrabold;

    &__currency {
        &-item {
            cursor: pointer;

            color: #cbcbcb;

            @include rem((
                padding-left: 3px,
                padding-right: 3px
            ));

            &.active {
                cursor: auto;

                color: #313131;
            }
        }
    }

    @media(min-width:768px) {
        &__currency {
            &-item {
                @include font-variant(13px, 22px);
            }
        }
    }

    @media(min-width:1200px) {
        &__currency {
            &-item {
                @include font-variant(14px, 24px);
            }
        }
    }
}
