@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: $base-color !default;
$slick-dot-color-active: $base-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 8px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path ) $url;;
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path ) $url;;
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #ffffff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;

    display: block;

    @include size(69px);
    padding: 0;
    
    z-index: 10;

    cursor: pointer;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    pointer-events: auto;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    background-repeat: no-repeat;
    background-position: 50%;

    font-size: 0;
    line-height: 0;
    
    &:hover, &:focus {
        color: transparent;
        outline: none;
        background: transparent;
        opacity: 0.53;
    }
    &.slick-disabled {
      cursor: default;
    }
}

.slick-prev {
    left: 0;

    background-image: url("data:image/svg+xml,%3Csvg width='15' height='41' viewBox='0 0 15 41' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.203 20.862l-.807-.58L14.193 0 15 .58 1.203 20.863zm13.22 19.57l-.798.568L0 21.14l.798-.568 13.625 19.86z' fill-opacity='.56' fill='%23EBEBEB' fill-rule='evenodd'/%3E%3C/svg%3E");

    [dir="rtl"] & {
        right: 0;
        left: auto;
    }
    &:before {
        [dir="rtl"] & {
        }
    }
}

.slick-next {
    right: 0;

    background-image: url("data:image/svg+xml,%3Csvg width='15' height='41' viewBox='0 0 15 41' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 .582L.807 0l13.798 20.28-.808.582L0 .582zm15 20.56L1.374 41l-.796-.57 13.625-19.858.797.57z' fill-opacity='.56' fill='%23EBEBEB' fill-rule='evenodd'/%3E%3C/svg%3E");

    [dir="rtl"] & {
        right: auto;
        left: 0;
    }
    &:before {
        [dir="rtl"] & {
        }
    }
}

/* Dots */
.slick-dots {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    display: block;

    width: 100%;
    margin: 0;
    padding:0;

    list-style: none;

    text-align: center;
    
    li {
        position: relative;

        display: inline-block;

        margin: 0 5px;
        padding: 0;

        cursor: pointer;

        @include size(20px);
        button {
            display: block;

            padding: 5px;

            cursor: pointer;

            color: transparent;
            border: 0;
            outline: none;
            background: transparent;

            font-size: 0;
            line-height: 0;

            @include size(20px);
            @include hover-focus {
                outline: none;
                &:before {
                    border-color: #ffffff;
                }
            }
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;

                content: "";
                transform: translate(-50%, -50%);                
                background-color: rgba(255,255,255,.33);

                @include size(11px);
                @include rounded;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            background-color: #decc4b;
        }
    }
}
