// top-block
.top-block {
    @include rem((
        padding-top: $navbar-height-sm
    ));

    @media(min-width:768px) {
        @include rem((
            padding-top: $navbar-height-m
        ));
    }

    @media(min-width:1200px) {
        @include rem((
            padding-top: $navbar-height-lg
        ));
    }
}
