//
// Headings
//

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: $headings-margin-bottom;

    color: $headings-color;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-weight: 500;
}

h1,
.h1 {
    @include font-variant($font-size-h1, $line-height-base);
}
h2,
.h2 {
    @include font-variant($font-size-h2, $line-height-h2);
    @include rem((
      margin-bottom: 28px
  ));
}
h3,
.h3 {
    @include font-variant($font-size-h3, $line-height-base);
}
h4,
.h4 {
    @include font-variant($font-size-h4, $line-height-base);
}
h5,
.h5 {
    @include font-variant($font-size-h5, $line-height-base);
}
h6,
.h6 {
    @include font-variant($font-size-h6, $line-height-base);
}

.lead {
    @include font-variant($lead-font-size, $lead-line-height, $font-weight: $lead-font-weight, $font-family: $font-family-serif);
    @include rem(margin-bottom, 18px);
}

@media(min-width:1200px) {
    h2,
    .h2 {
        @include rem((
          margin-bottom: 50px
      ));
    }
}

.text-primary {
    color: $brand-primary;
}
.text-success {
    color: $brand-success;
}

//
// Emphasis
//

small,
.small {
    font-size: $small-font-size;
    font-weight: normal;
}
