// Variables

// Table of Contents
//
// Colors
// Navbar
// Grid
// Spacing
// Body
// Typography
// Components


// Colors
//
// Grayscale and brand colors

$base-color: #2d2d2d !default;
$gray: #363636 !default;
$gray-light: #999999 !default;
$gray-lighter: #b2b2b2 !default;
$gray-lightest: #f0f0f0 !default;

$brand-primary: #e3d14d !default;
$brand-brick: #93463a !default;
$brand-sand: #948344 !default;
$brand-sand-shade: #9b843e !default;
$brand-darksalmon: #aa7e64 !default;
$brand-lightgray: #efefef !default;
$brand-lightgray-darker: #dfdfdf !default;
$brand-grayblue: #becfd0 !default;
$brand-slategray: #4c4c59 !default;
$brand-darkbrown: #3e2d2e !default;
$brand-darkbrown-warm: #3c240d !default;
$brand-success: #90b756 !default;
$brand-lightbrown: #856d58 !default;
$brand-lightbrown-lighter: #8d7053 !default;
$brand-khaki: #534e3b !default;
$brand-lightyellow: #e7e1b6 !default;
$brand-brown-lighter: #5b340e !default;
$brand-darkgray-darker: #3c3d41 !default;

$theme-orange: #d6603b !default;
$theme-orange-overlay: rgba(214,96,59,0.35) !default;
$theme-orange-overlay-darker: rgba(214,96,59,0.85) !default;
$theme-brown: #400211 !default;
$theme-brown-overlay: rgba(64,2,17,0.35) !default;
$theme-brown-overlay-darker: rgba(64,2,17,0.85) !default;
$theme-rosybrown: #573d41 !default;
$theme-rosybrown-overlay: rgba(106,73,76,0.75) !default;
$theme-rosybrown-overlay-darker: rgba(106,65,77,0.88) !default;
$theme-violet: #2b2248 !default;
$theme-violet-overlay: rgba(56,23,83,0.62) !default;
$theme-violet-overlay-darker: rgba(56,23,83,0.90) !default;
$theme-lilac: rgba(125,117,183,1) !default;
$theme-lilac-overlay: rgba(125,117,183,0.35) !default;
$theme-lilac-overlay-darker: rgba(125,117,183,0.85) !default;
$theme-green: #30b52b !default;
$theme-green-overlay: rgba(135,174,61,0.35) !default;
$theme-green-overlay-darker: rgba(135,174,61,0.85) !default;
$theme-peru: #a17231 !default;
$theme-peru-overlay: rgba(161,114,49,0.35) !default;
$theme-peru-overlay-darker: rgba(161,114,49,0.85) !default;
$theme-darkblue: #1d1d46 !default;
$theme-darkblue-overlay: rgba(29,29,70,0.35) !default;
$theme-darkblue-overlay-darker: rgba(29,29,70,0.5) !default;
$theme-darkgoldenrod: #635429 !default;
$theme-darkgoldenrod-overlay: rgba(99,84,41,0.5) !default;
$theme-darkgoldenrod-overlay-darker: rgba(99,84,41,0.85) !default;
$theme-darkred: #4e1106 !default;
$theme-darkred-overlay: rgba(78,17,6,0.5) !default;
$theme-darkred-overlay-darker: rgba(78,17,6,0.72) !default;
$theme-darkgray: #44434f !default;
$theme-darkgray-overlay: rgba(68,67,79,0.5) !default;
$theme-darkgray-overlay-darker: rgba(68,67,79,0.85) !default;

$themes: (
  brick: (
        color: $brand-brick
  ),  
  sand: (
        color: $brand-sand
  ),  
  sand-shade: (
        color: $brand-sand-shade
  ),  
  darksalmon: (
        color: $brand-darksalmon
  ),  
  lightgray: (
        color: $brand-lightgray
  ),  
  lightgray-darker: (
        color: $brand-lightgray-darker
  ),  
  grayblue: (
        color: $brand-grayblue
  ),  
  slategray: (
        color: $brand-slategray
  ),  
  darkbrown: (
        color: $brand-darkbrown
  ),  
  darkbrown-warm: (
        color: $brand-darkbrown-warm
  ),  
  lightbrown: (
        color: $brand-lightbrown
  ),
  lightbrown-lighter: (
        color: $brand-lightbrown-lighter
  ),    
  khaki: (
        color: $brand-khaki
  ),  
  lightyellow: (
        color: $brand-lightyellow
  ),  
  brown-lighter: (
        color: $brand-brown-lighter
  ),    
  darkgray-darker: (
        color: $brand-darkgray-darker
  ),    
  orange: (
    color: $theme-orange,
    color-overlay: $theme-orange-overlay,
    color-overlay-darker: $theme-orange-overlay-darker
  ),  
  brown: (
      color: $theme-brown,
      color-overlay: $theme-brown-overlay,
      color-overlay-darker: $theme-brown-overlay-darker
  ),
  rosybrown: (
      color: $theme-rosybrown,
      color-overlay: $theme-rosybrown-overlay,
      color-overlay-darker: $theme-rosybrown-overlay-darker
  ),
  violet: (
      color: $theme-violet,
      color-overlay: $theme-violet-overlay,
      color-overlay-darker: $theme-violet-overlay-darker
  ),
  lilac: (
      color: $theme-lilac,
      color-overlay: $theme-lilac-overlay,
      color-overlay-darker: $theme-lilac-overlay-darker
  ),
  green: (
      color: $theme-green,
      color-overlay: $theme-green-overlay,
      color-overlay-darker: $theme-green-overlay-darker
  ),
  peru: (
      color: $theme-peru,
      color-overlay: $theme-peru-overlay,
      color-overlay-darker: $theme-peru-overlay-darker
  ),
  darkblue: (
      color: $theme-darkblue,
      color-overlay: $theme-darkblue-overlay,
      color-overlay-darker: $theme-darkblue-overlay-darker
  ),
  darkgoldenrod: (
      color: $theme-darkgoldenrod,
      color-overlay: $theme-darkgoldenrod-overlay,
      color-overlay-darker: $theme-darkgoldenrod-overlay-darker
  ),
  darkred: (
      color: $theme-darkred,
      color-overlay: $theme-darkred-overlay,
      color-overlay-darker: $theme-darkred-overlay-darker
  ),
  darkgray: (
      color: $theme-darkgray,
      color-overlay: $theme-darkgray-overlay,
      color-overlay-darker: $theme-darkgray-overlay-darker
  )
) !default;

// Navbar
//
// 
$navbar-height-sm: 71px !default;
$navbar-height-m: 64px !default;
$navbar-height-lg: 91px !default;

// Grid
//
// 
$gutter: 30px;
$layout-width: 1200px + $gutter;

// Body
//
// Settings for the `<body>` element.

$body-bg: #ffffff !default;
$body-color: $base-color !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "ProximaNova-Regular", "Helvetica Neue", Arial, sans-serif !default;
$font-family-sans-serif-light: "ProximaNova-Light", "Helvetica Neue", Arial, sans-serif !default;
$font-family-sans-serif-semibold: "ProximaNova-Semibold", "Helvetica Neue", Arial, sans-serif !default;
$font-family-sans-serif-bold: "ProximaNova-Bold", "Helvetica Neue", Arial, sans-serif !default;
$font-family-sans-serif-extrabold: "ProximaNova-Extrabld", "Helvetica Neue", Arial, sans-serif !default;
$font-family-sans-serif-italic: "ProximaNova-RegularIt", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif: "PlayfairDisplay-Regular", Georgia, "Times New Roman", Times, serif !default;
$font-family-serif-bold: "PlayfairDisplay-Bold", Georgia, "Times New Roman", Times, serif !default;
$font-family-base: $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 18px !default;
$font-size-base: $font-size-root !default;

$line-height-base: 21px !default;

$font-size-h1: 39px !default;
$font-size-h2: 24px !default;
$font-size-h3: 21px !default;
$font-size-h4: 19px !default;
$font-size-h5: $font-size-root !default;
$font-size-h6: 15px !default;

$line-height-h1: 1.02564103 !default;
$line-height-h2: 24px !default;
$line-height-h3: 21px !default;
$line-height-h4: 19px !default;
$line-height-h5: $font-size-root !default;
$line-height-h6: 15px !default;

$headings-margin-bottom: 0 !default;
$headings-font-family: $font-family-sans-serif-extrabold !default;
$headings-font-weight: 400 !default;
$headings-line-height: 1.02564103 !default;
$headings-color: inherit !default;

$lead-font-size: 22px !default;
$lead-font-weight: 400 !default;
$lead-line-height: 30px !default;

$small-font-size: 80% !default;

$text-muted: $gray-light !default;

$abbr-border-color: $gray-light !default;

$dt-font-weight: bold !default;

$kbd-box-shadow: inset 0 -0.1rem 0 rgba(0,0,0,0.25) !default;
$nested-kbd-font-weight: bold !default;

$list-inline-padding: 5px !default;


// Buttons
//
//

$button-border-width: 1px !default;
$button-padding-x: 17px !default;
$button-padding-y-top: 11px !default;
$button-padding-y-bottom: 15px !default;
$button-line-height: 1.5 !default;
$button-font-weight: 500 !default;
$button-box-shadow: none !default;
$button-active-box-shadow: none !default;

$button-default-color: $base-color !default;
$button-default-bg: transparent !default;
$button-default-border: #000000 !default;
$button-default-hover-bg: $button-default-bg !default;
$button-default-hover-border: #dddddd !default;

$button-primary-color: #2b2929 !default;
$button-primary-bg: #e3d14d !default;
$button-primary-border: #e3d14d !default;
$button-primary-hover-color: #2b2929 !default;
$button-primary-hover-bg: #e3d14d !default;
$button-primary-hover-border: #e3d14d !default;

$button-link-disabled-color: $gray-light !default;

$button-disabled-bg: #f5f5f5 !default;
$button-disabled-color: $gray-light !default;

$button-padding-x-sm: 8.5px !default;
$button-padding-y-top-sm: 7px !default;
$button-padding-y-bottom-sm: 9px !default;

$button-block-spacing-y: 8.5px !default;


// Form
//
// 
$input-font-size: 16px !default;
$input-padding-x: 8px !default;
$input-padding-y-top: 0 !default;
$input-padding-y-bottom: 0 !default;
$input-line-height: 44px !default;

$input-bg: #ffffff !default;
$input-bg-disabled: $gray-lightest !default;

$input-color: $base-color !default;
$input-border-color: #d9d9d9 !default;
$input-button-border-width: 1px !default; // For form controls and buttons

$input-bg-focus: #ffffff !default;
$input-border-focus: #cccccc !default;
$input-color-focus: $base-color !default;

$input-color-placeholder: $gray-light !default;

$input-height: 44px !default;

$input-lg-font-size: 30px !default;
$input-lg-padding-x: 28px !default;
$input-lg-padding-y-top: 9px !default;
$input-lg-padding-y-bottom: 16px !default;
$input-lg-line-height: 40px !default;

$input-lg-height: 70px !default;

$form-group-margin-bottom: 12px !default;

$cursor-disabled: not-allowed !default;
